<ion-view view-title="Show All Works by Title">
<div class="bar bar-subheader bar-secondary-nav">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
        <input type="text" class="searchbox" placeholder="Search Works by Title" id="searchWorks" name="searchWorks" ng-model="search" ng-change="searchHandler()">
    </label>
  </div>
<ion-content class='has-subheader'>
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="refreshWorks()">
  </ion-refresher>
  <ion-list ng-show="fullList">
    <ion-item class=" item-thumbnail-left" ng-repeat="work in works | orderBy: 'name'" href="#/app/showallworks/{{work._id}}">
        <img ng-src="{{work.images[0].url}}">
        <h2 style='text-transform: uppercase'>{{work.name}}</h2>
        <h3>{{ work.author}}</h3>
        <p>{{ work.snippet}}</p>
    </ion-item>
  </ion-list>
 
   <ion-list ng-show="filteredList">
    <ion-item class=" item-thumbnail-left" ng-repeat="work in works |orderBy: 'name' | filter: {name: search}">
        <img ng-src="{{work.images[0].url}}">
        <h2 style='text-transform: uppercase'>{{work.name}}</h2>
        <h3>{{ work.author}}</h3>
        <p>{{ work.snippet}}</p>
    </ion-item>
    </ion-list> 
</ion-content>
</ion-view>