<ion-view view-title="Show All Works">
<ion-content>
  <ion-list ng-show="fullList">
    <ion-item auto-list-divider auto-list-divider-value="{{work.title}}" ng-repeat="work in works |orderBy: 'work.title'" href="#/app/showallworks/{{work.id}}">
      <div class=" item-icon-left">
        <h2 style='text-transform: uppercase'>{{work.title}}</h2>
        <p>{{ work.author}}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>


<!--  TODO; Cuando tengamos imagen para cada obra, anadir imagen al lado del cada elemento de la lista, seguir este formato:-->

<!-- <div class="item item-icon-left">
  <img src="{{item.user.picture.thumbnail}} " />
  <h2 style='text-transform: uppercase'>{{item.user.name.first}} {{item.user.name.last}}</h2>
  <p>{{item.user.location.city}}{{item.user.location.county}}, {{item.user.location.state}}</p>
</div> -->