<ion-view view-title="Work Information">
  <ion-content>
  	 <div class="bar bar-header">
    	 <h2 class="title"> {{workSelected.name}} by {{workSelected.author}} </h2>
    </div>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide ng-repeat="image in workSelected.images |orderBy: 'name'">
        <div align="center"><img class="img" ng-src="{{image.url}}"></div>
      </ion-slide>
    </ion-slide-box>
    <div align="center" class="descrip"><p>{{workSelected.description}}</p></div>
  </ion-content>
  <div class="bar bar-footer bar-stable"> 
    <form>
      <input class="logo" type="image" src="img/facebook.png" alt="Submit">
    </form>  
    <form>
      <input class="logo" type="image" src="img/twitter.png" alt="Submit">
    </form>
  </div>
</ion-view>
