<ion-view view-title="Work Information">
  <ion-content>
  	 <div class="bar bar-header">
    	 <h2 class="title"> {{workSelected.name}} by {{workSelected.author}} </h2>
    </div>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide ng-repeat="image in workSelected.images |orderBy: 'name'">
        <div class="sampi"><img align="middle" ng-src="{{image.url}}"></div>
      </ion-slide>
    </ion-slide-box>
    <div align="center"><p>{{workSelected.description}}</p></div>
  </ion-content>
  <div class="bar bar-footer bar-stable">
	  <button class="button button-clear">Facebook Icon</button>
	  <div class="title">Share With:</div>
	  <button class="button button-clear">Twitter Icon</button>
  	</div>
</ion-view>
