/* Empty. Add your own CSS if you like */
.bar-subheader {
  height: 1em !important;
}
.has-subheader {
  margin-top: 1em !important;
}
.error {
	text-align: center;
	color: red;
}
.img {
	max-width: 100%;
	height: auto;
}
.logo{
	margin-left: 27vw;
	margin-right: 27vw;
	height: 2.5em;
	width: 2.5em;
}
.descrip{
    border-radius: 2em;
    border: 2px solid #ffb600;
}
