/* Empty. Add your own CSS if you like */
.bar-subheader {
  height: 1em !important;
}
.has-subheader {
  margin-top: 1em !important;
}
.error {
	text-align: center;
	color: red;
}
.sampi{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
